{% extends "layout.html" %}
{% block title %}
<title>About Global Health Impact</title>
{% endblock %}

{% block frontimg %}
<img id="fore" src="static/img/about.jpg" />
{% endblock %}

{% block content %}
<div class="currentlocation">
<p class="pagetitle">Info / <a href="/about" class="titlebold">About</a></p>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="contentbox">
            <p class="redtxt">About: <b>GLOBAL HEALTH IMPACT</b></p>
            <p class="txtcontent"><b>Imagine a world</b> where people everywhere have access to the life-saving drugs they need to fight diseases like tuberculosis, malaria, and HIB/AIDS. To help extend access on essential medicines, we have to understand the problem. The Global Health Impact Index opens the door to positive change by considering how essential medicines for <span style="color:#FF7474">some of the world's worst diseases</span> are affecting global health. For more general information on the construction of each Index, see <a href="" class="links">Resources</a> and for technical papers see <a href="/methodology" class="links">Methodology.</a></p>
        </div>
        <div class="contentbox">
            <p class="redtxt">THE INDEXES:</p>
            <p class="txtcontent">The Drug Index ranks the drugs by their impact scores. The Disease Index looks at the size of the drugs’ impact on each of the diseases. The Country Index looks at the amount of need in each country that is alleviated by the drugs used in that country. The Company Index ranks companies by the sum the impact of the drugs each company makes. For more general information on the construction of each Index, see resources and for technical papers see methodology. For more information on the Company Index, in particular, see <a href="/company" class="links">Companies</a> and <a href="/company" class="links">Drugs</a>.</p>
        </div>
        <div class="contentbox">
            <p class="redtxt">PREZI PRESENTATION</p>
            <iframe id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width=100% height=200px src="https://prezi.com/embed/r9kwud5nhsj8/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWnNjdEVENDRhZDFNZGNIUE1lNjhCRUpSbVVNaldpOExIVTNYS1YxcHFaaHFGQ1lSdkdOM01xRUZFOD0&amp;landing_sign=t_-zvhLxW_pfDKaw-xoUzy64VD0DwVqSteTWZ3Jtak8"></iframe>
        </div>
        <div class="contentbox">
            <p class="redtxt">THE GLOBAL HEALTH IMPACT INDEX</p>
            <p class="txtcontent">This report explains in detail how the Company Index is calculated. In doing so, it gives examples of how drug scores are calculated.</p>
            <table id="reporttab">
                <tr>
                    <td id="paperthumb">
                        <img src="static/img/ExtendingAccessThumb.jpg" width="100%"/>
                    </td>
                    <td>
                        <p class="abtlabel">Click on the paper to read more!</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="contentbox">
            <p class="bluetxt">LEARN MORE:</p>
            <p class="txtcontent"><b>Check out</b> this video from Binghamton University for a brief presentation on the Global Health Impact project. Professor Nicole Hassoun introduces the Index, some possible uses for it, and explains the insight behind it. To view the whole video, see <a href="/resources" class="links">Resources.</a> For more videos about the Global Health Impact Index, visit our <a href="https://www.youtube.com/channel/UC9sq9bbtyeSlYWboYngXX_Q" class="links">YouTube channel</a></p>
            <iframe width="390" height="315" src="https://www.youtube.com/embed/HmZPHqz7xUQ" frameborder="0" allowfullscreen></iframe
        </div>
        <div class="contentbox">
            <p class="bluetxtabout">EVALUATING DRUGS:</p>
            <p class="txtcontent">There are three main considerations that go into evaluating each drug's potential impact.These are 1)the need for the drug, 2)its effectiveness,and 3)how many people who need a drug can access it around the world.In the Global Health Impact model,the drug impact scores feed into four Indexes that provide  essential information about the access to medicines problem.</p>
        </div>
        <div class="contentbox">
            <p class="bluetxt">POTENTIAL USES:</p>
            <p class="txtcontent">There are many ways Global Health Impact information might be useful to policy makers, researchers, companies investors, consumers, and other people interested in global health. For some information about potential uses of the Index, see <a href="/resources" class="links">Resources</a> and <a href="/news" class="links">News</a>. Together we can leverage the Global Health Impact Index to save millions of lives.</p>
        </div>
        <div class="contentbox">
            <p class="bluetxt">BINGHAMTON UNIVERSITY PROFESSOR LAUNCHES THE GLOBAL HEALTH INDEX:</p>
            <p class="txtcontent">Binghamton University’s Professor Nicole Hassoun launches a web tool known as the Global Health Index to track the impact of drugs worldwide. Check out this video from Binghamton University for a brief presentation on the Global Health Impact project. Professor Nicole Hassoun introduces the Index, some possible uses for it, and explains the insight behind it.</p><br>
            <iframe width="390" height="315" src="https://www.youtube.com/embed/HmZPHqz7xUQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}
