{% extends "layout.html" %}
{% block title %}
<title>DB Viewer</title>
{% endblock %}
{% block frontimg %}
<img id="fore" src="{{ url_for('static',filename='img/about.jpg') }}" />
{% endblock %}
{% block content %}
    <p class="text-center redtxt">{{ dbheader.0 }}</p>
    <a href="/dbupdate/{{ dbheader.1 }}" class="text-center bluetxt">Update Table</a><br>
    {% for sheet in sheetdata %}
    <div style="max-height:300px;overflow:scroll;margin: auto 0;width:400px;display:inline-block;">
        <p class="redtxt">{{ sheet.2 }}</p>
        <table>
            <tr>
                {% for name in sheet.1 %}
                <td>
                    <b>{{ name }}</b>
                </td>
                {% endfor %}
            </tr>
            {% for row in sheet.0 %}
                <tr>
                    {% for item in row %}
                    <td>
                            <p>{{ item }}</p>
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
{% endblock %}