{% extends "layout.html" %}
{% block title %}
<title>Drug</title>
{% endblock %}
{% block frontimg %}
<img id="fore" src="{{ url_for('static',filename='img/drug.jpg') }}" />
{% endblock%}


{% block frontindx %}

{% endblock %}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('upcoming', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(
           [['Drug','Score']{% for row in sortedpie2 %},['{{row.0}}',{{row.1}}]{% endfor %}]
        );
        var data2 = google.visualization.arrayToDataTable(
           [['Drug','Score']{% for row in impactpie %},['{{row.0}}',{{row.1}}]{% endfor %}]
        );
        var options1 = {
            height: 300,
            'chartArea':{top:0},
            legend:'none',
            slices: [{color: '#00cab1'},{% for row in sortedpie2 %}{color: '{{row.3 |safe}}'},{% endfor %}{}],
            is3D: 'true'
        };
        var options2 = {
            height: 300,
            'chartArea':{top:0},
            legend:'none',
            slices: [{% for row in impactpie %}{color: '{{row.3 |safe}}'},{% endfor %}{}],
            is3D: 'true'
        };
        var chart = new google.visualization.PieChart(document.getElementById('piediv'));
        var chart2 = new google.visualization.PieChart(document.getElementById('pie2div'));
        chart.draw(data, options1);
        chart2.draw(data2, options2);
      };
      function bargoclick(num) {
          chart.setSelection([{row:num}]);
          alert(num);
      };
</script>
<div class="currentlocation">
<p class="pagetitle">Index / <a href="/index/drug" class="pagetitle">Drug</a> / <a href="/index/drug/{{ speclocate.0 }}/all" class="pagetitle">{{ speclocate.0 }}</a> / <a href="/index/drug/{{ speclocate.0 }}/{{ speclocate.2 }}" class="titlebold">{{ speclocate.1 }}</a></p>
</div>
<div class="row">
    <div class="col-sm-6">
        <p class="redtxt">DRUG: {{ drug }}</p>
        <p class="txtcontent">The Global Health Impact Drug Index measures the impact of drugs used to treat different diseases. These diseases include HIV/AIDS, TB, malaria, lymphatic filariasis, onchoriasis, schistosomiasis, hookworm, ringworm, and whipworm. Three aspects are taken into consideration when determining drug scores: The need for several important drugs in each country, the drugs’ effectiveness, and the number of people that can access them. On the Drug Index page, you see the proportional impact of drugs for each disease. For additional information, please see About the Index and Methodology.</p>
    </div>
    <div class="col-sm-6">
        <p class="bluetxt" style="font-size:26px; !important">Proportion of Disease Burden Alleviated by Individual Drugs</p>
        <div class="piewrap">
            <div id="piediv" class="piechart">
            </div>
        </div>
        <div class="pielegend" style="max-height:80px;overflow-y:scroll">
            <table style="margin:auto">
                {% for row in pielabb %}
                <tr style="float:center">
                    {% for item in row %}
                    <td class="tablecell leftcell"><div class="colorbox" style="background-color:{{ item.2 |safe }};"></div></td>
                    <td class="tablecell legendtxt" title="{{ item.0 |safe }}: {{ item.3 |safe }}">{{ item.1 |safe }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p class="bluetxt" style="font-size:26px; !important">Global Drug Impact Scores</p>
        <div id="chart_div">
            {% for drug in impactpie %}
            <a onclick="bargoclick({{ loop.index }});" title="{{ drug.0 }}: {{ drug.1 }}">
                <div id="" style="padding-top: 2px; font-family: 'Nunito','sans-serif';">{{ drug.0 }}</div>
                <div style="width: {{ drug.2 }}%;background-color:{{ drug.3 }};height: 10px;display:inline-block;font-size:0;margin-right:-4px;"></div>
            </a>
            {% endfor %}
            </div><br>
    </div>
    <div class="col-sm-6">
        <p class="bluetxt" style="font-size:26px; !important">Drug Impact Score</p>
        <div class="piewrap">
            <div id="pie2div" class="piechart">
            </div>
        </div>
        <script type="text/javascript">
            function scrolltop() {
                window.scrollBy(0, 500)
            }
        </script>
        <div class="pielegend">
            <table style="margin:auto">
                {% for row in pielabb %}
                <tr style="float:center">
                    {% for item in row %}
                    <td class="tablecell leftcell"><div class="colorbox" style="background-color:{{ item.2 |safe }};"></div></td>
                    <td class="tablecell legendtxt" title="{{ item.0 |safe }}: {{ item.3 |safe }}">{{ item.1 |safe }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}